*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(25, 42, 87);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cabeçalho{
display: flex;
flex-flow: column;
align-items: center;
}
.cabeçalho>img{
    margin-top: 20px;
    height: 100px;
    width: 400px;
}
.conteiner-perguntas{
 border-radius: 10px;
 display: flex;
 flex-flow: column;
 align-items: center;
background-color: white;
width: 900px;
height:600px;
gap: 20px;
margin:50px;
}
.conteiner-perguntas>h1{
    margin-top:30px ;
    margin-bottom: 30px;
}

.botao-responder{
    height: 50px;
    width: 300px;
    cursor: pointer;
    background-color: green;
    border-radius: 7px;
}
.botao-responder:hover{
    height: 55px;
    width: 310px;
    cursor: pointer;
    background-color: rgb(13, 111, 177);
    border-radius: 7px;
    border: 3px solid black;
}
.alternativa{
    height:50px;
    width: 700px;
    border-radius: 5px;
}

.alternativa:hover{
    height:55px;
    width: 710px;
    border-radius: 5px;
    background-color:rgb(13, 111, 177);
    cursor: pointer;
    border: 3px black solid;
}

.selecionada {
    height:50px;
    width: 700px;
    border-radius: 5px;
    background-color: aquamarine;

}
.resposta-certa {
    background-color: green;
    height:50px;
    width: 700px;
    
}

.resposta-errada {
    background-color: red;
    height:50px;
    width: 700px;
    
}
.proxima_pergunta{
    height:50px;
    width: 200px;
    margin-bottom: 10px;
    background-color:rgb(13, 111, 177);
    border-radius: 5px;
    cursor: pointer;
}
.proxima_pergunta:hover{
    height:55px;
    width: 205px;
    margin-bottom: 10px;
    background-color:rgb(13, 111, 177);
    border-radius: 5px;
    border: 3px solid black;
    cursor: pointer;
}
.cadastro_inicial{
height: 50px;
width: 400px;
}



